/* Custom Styles Go Here */
.article-metadata {
	border-bottom: 1px solid #deecf0;
	padding-bottom: 5px;
}

.navbar {
	background-color: steelblue;
}

.article-posted-date {
	font-size: 0.8rem;
}

#hint_id_password1,
#hint_id_password2 {
	display: none;
}

.profile-image {
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	object-fit: contain;
	border-radius: 50%;
	border: 1px solid steelblue;
	padding: 2px;
}

.profile-image-small {
	width: 40px;
	height: 40px;
	max-width: 40px;
	max-height: 40px;
}

.nav-image {
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
	object-fit: contain;
	border: 1px solid white;
	padding: 2px;
}
