{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}
    <article class="media content-section bg-white p-2 mb-2 shadow-sm">
        <div class="media-body">
            <div class="article-metadata">
                <a href="#" class="text-decoration-none fw-bold me-2">{{post.author}}</a>
                <small class="text-secondary">{{post.date_posted}}</small>
            </div>
            <h2 class="my-1"><a href="#" class="article-title text-decoration-none text-dark">{{post.title}}</a></h2>
            <p class="article-content">{{post.content}}</p>
        </div>
    </article>
    {% endfor %}
{% endblock content %}