{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <article class="media content-section bg-white p-3 mb-3 shadow-sm">
        <div class="media-body">
            <div class="article-metadata d-flex align-items-center justify-content-between pb-2">
                <div class="author-details">
                    <img src="{{post.author.profile.image.url}}" class="profile-image profile-image-small" alt="{{post.author}} profile image">
                    <a href="{% url 'user_profile' post.author.id %}" class="text-decoration-none fw-bold me-2">{{post.author}}</a>
                </div>
                <small class="text-secondary article-posted-date">{{post.date_posted|date:"F d, Y"}}</small>
            </div>
            <h1 class="my-2">{{post.title}}</h1>
            <p class="article-content my-3">{{post.content}}</p>
        </div>
        {% if post.author == request.user %}
            <div class="post-actions mt-4">
                <a href="{% url 'post-update' post.id %}" class="btn btn-sm btn-outline-primary">Update</a>
                <a href="{% url 'post-delete' post.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
            </div>
        {% endif %}
        <hr>
        <div class="article-comments-wrapper my-3">
            <h6>Comments</h6>
            <div class="comment-form">
                <form action="{% url 'post-comment' %}" method="POST">
                    {% csrf_token %}
                    {{comment_form|crispy}}
                    <button class="btn btn-sm btn-outline-primary mt-2" type="submit">Post Comment</button>
                </form>
            </div>
            <div class="comments mt-3 bg-light p-2 rounded">
                {% for comment in comments %}
                <div class="comment-wrapper">
                    <div class="d-flex align-items-center gap-2">
                        <img src="{{comment.user.profile.image.url}}" class="profile-image profile-image-small" alt="{{comment.user}} profile image">
                        <h6><a class="text-decoration-none" href="{% url 'user_profile' comment.user %}">{{comment.user}}</a></h6>
                    </div>
                    <small class="ps-5">{{comment}}</small>
                </div>              
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock content %}