{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="user-profile shadow shadow-sm p-3">
    <div class="profile-header d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-start align-items-sm-center gap-3">
        <div class="media">
            <img src="{{user.profile.image.url}}" class="profile-image" alt="{{user}} profile image">
        </div>
        <div class="media-body  text-center text-lg-start">
            <div class="account-heading">
                <h2>{{user.username|title}}</h2>
                <p class="text-secondary">{{user.email}}</p>
            </div>
        </div>
    </div>
    <div class="user-update-form my-4">
        {% if profileUpdateForm %}
            <form method="POST", enctype='multipart/form-data'>
                {% csrf_token %}
                <h4>Profile Info</h4>
                <hr>
                {{userUpdateForm|crispy}}
                {{profileUpdateForm|crispy}}
                <button type="submit" class="btn btn-outline-primary">Update</button>
            </form>
        {% endif %}
    </div>
</section>

<section class="user_posts my-3">
    {% for post in user_posts %}
    <article class="media content-section bg-white d-flex gap-3 p-3 mb-3 shadow-sm">        
        <div class="media align-self-start">
            <img src="{{post.author.profile.image.url}}" class="profile-image profile-image-small" alt="{{post.author}} profile image">
        </div>
        <div class="media-body w-100">
            <div class="article-metadata d-flex align-items-center justify-content-between">
                <a href="{% url 'user_profile' post.author.id %}" class="text-decoration-none fw-bold me-2">{{post.author}}</a>
                <small class="text-secondary flex-1 article-posted-date">{{post.date_posted|date:"F d, Y"}}</small>
            </div>
            <h4 class="my-2"><a href="{% url 'post-detail' post.id %}" class="article-title text-decoration-none text-dark">{{post.title}}</a></h4>
            <p class="article-content my-3">{{post.content|slice:"0:100"}}...</p>
        </div>
    </article>
    {% endfor %}
</section>
{% endblock content %}

